<?xml version="1.0"?>
<config>
    <modules>
        <DigitalSession_Mbdt>
            <version>1.9.0.1</version>
        </DigitalSession_Mbdt>
    </modules>
    <adminhtml>
        <translate>
            <modules>
                <DigitalSession_Mbdt>
                    <files>
                        <default>DigitalSession_Mbdt.csv</default>
                    </files>
                </DigitalSession_Mbdt>
            </modules>
        </translate>
        <layout>
            <updates>
                <digitalsession_mbdt>
                    <file>digitalsession_mbdt.xml</file>
                </digitalsession_mbdt>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <digitalsession_mbdt>
                <class>DigitalSession_Mbdt_Model</class>
            </digitalsession_mbdt>
        </models>
        <blocks>
            <digitalsession_mbdt>
                <class>DigitalSession_Mbdt_Block</class>
            </digitalsession_mbdt>
        </blocks>
        <helpers>
            <digitalsession_mbdt>
                <class>DigitalSession_Mbdt_Helper</class>
            </digitalsession_mbdt>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <digitalsession_mbdt after="Mage_Adminhtml">DigitalSession_Mbdt_Adminhtml</digitalsession_mbdt>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>